<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}    
            {% if messages %}                            
                {% for message in messages %}            
                    <p>{{message}}</p>                   
                {% endfor %}
            {% endif %}
        {% endwith %}


        <H1>Add a car</H1>
<form action="/create_car" method="post">
    <label for="price">Price</label>
    <input type="number" name="price"><br>
    <label for="make">Make</label>
    <input type="text" name="make"><br>
    <label for="model">Model</label>
    <input type="text" name="model"><br>
    <label for="year">Year:</label>
    <input type="number" name="year"><br>
    <label for="description">Description:</label>
    <textarea name="description"cols="30" rows="10"></textarea>
    <input type="hidden" name="seller_id" value="{{session['user_id']}}">
    <input type="submit">
</form>
    <button onclick="window.location.href='/dashboard';">Dashboard</button>
    <button onclick="window.location.href='/logout';">Log Out</button>
</body>
</html>