<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit {{ car.model }}</h1>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout/user">Log Out</a>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/car/update" method='POST'>
        <input type="hidden" name="id" value="{{ car.id }}">
        Price:<br>
        <input type="number" name="price" value='{{ car.price }}'><br>
        Model:<br>
        <input type="text"  name="model" value='{{ car.model }}'><br>
        Make: <br>
        <input  type="text" name="make" value='{{ car.make }}'><br>
        Year: <br>
        <input type="number" name="year" value='{{ car.year }}'><br>
        Description:<br>
        <input type="text" name="description" value='{{ car.description }}'><br>
        <input type="submit" value="Update">
    </form>
</body>
</html>