<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome </h1>
    <a href="/magazine/new">Add Magazine</a>
    <a href="/account">Account</a>
    <a href="/logout/user">Log Out</a>

    <h2>Magazines</h2>
    
    {% for magazine in dashboard %}
    <p><a href="/magazine/{{ magazine.id }}/{{ magazine.user.first_name }}">{{ magazine.title }}</a> added by {{ magazine.user.first_name }}{{ magazine.user.last_name }}</p>
    {% endfor %}
</body>
</html>