<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout/user">Log Out</a>
    <h1>Put Car Up For Sale</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/add/car" method='POST'>
        <!-- <input type="hidden" name="user_id" value="{{ session['user_id'] }}"> -->
        Price:<br>
        <input type="number" name="price" placeholder=0><br>
        Model:<br>
        <input type="text"  name="model"><br>
        Make: <br>
        <input  type="text" name="make"><br>
        Year: <br>
        <input type="number" name="year" placeholder=0><br>
        Description:<br>
        <input type="text" name="description"><br>
        <input type="submit" value="Add">
    </form>
</body>
</html>