<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout/user">Log Out</a>

        <h1> {{ car.price }}</h1>
        <p>Model: {{ car.model }}</p>
        <p>Make: {{ car.model }}</p>
        <p>Year: {{ car.model }}</p>
        <p>Description:</p>
            <p>{{ car.description }}</p>
        <p>Seller: {{ car_user.first_name }} {{ car_user.last_name }}</p>
        <a href="/purchase/{{ car.id }}">Purchase</a>

</body>
</html>


